<%- include ('include/head'); %>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus eligendi
  perspiciatis sapiente fugiat! Illum ad quidem eius. Dolorum ex perferendis
  corrupti nemo natus deleniti explicabo rem omnis sint autem. Quidem.
</p>
<%- include ('include/footer'); %>
