<!DOCTYPE html>
<html lang="en">
  <%- include ('include/head'); %>
  <!-- navbar-->
  <%- include ('include/navbar'); %>

  <body>
    <div id="" class="container">
      <!-- Profile Update starts here -->
      <div class="card card-login mx-auto mt-5 mb-5">
        <div class="card-header">Change Info</div>

        <div class="card-body">
          <form method="" id="passwordUpdateForm">
            <!-- password -->
            <div class="form-group mt-3">
              <div class="form-label-group">
                <label for="password" class="text-capitalize">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Enter your new password.."
                  value=""
                  autofocus
                />
              </div>
            </div>

            <!-- button -->
            <button
              type="submit"
              class="btn btn-primary btn-block mt-3"
              name="submit"
              value="submit"
            >
              Save
            </button>
          </form>
          <!-- form ends here -->
        </div>
      </div>
    </div>
  </body>

  <%- include ('include/footer'); %>
</html>
